<!DOCTYPE html>
<html>
    <body>
        <form action ="http://127.0.0.1:5000/result " method="POST">
        {%if r[0]!=null %}
            <p>Name <input type="text" value="{{r[0]}}" name = "Name" /></p>
            <p>Physics <input type="text" value="{{r[1]}}" name = "Physics" /></p>
            <p>Chemistry <input type="text" value="{{r[2]}}" name = "Chemistry" /></p>
            <p>Maths <input type="text" value="{{r[3]}}" name = "Mathematics" /></p>
            <p>Total <input type="text" value="{{r[4]}}" name = "total" /></p>
            <p><input type="submit" value="submit" /></p>
        {% else %}
            <p>No Record Found</p>
            {% endif %}
        </form>
    </body>
</html>

